Durante il ricovero la/il paziente è stata sottoposta/o () ad intervento di impianto di pompa ad infusione intratecale di baclofen con posizionamento del catetere sotto controllo radioscopico all’altezza della .......  
<br />
Durante l’intervento si è proceduto anche ad  .....
<br />
<b>Nella fase postoperatoria il dosaggio del farmaco è stato gradualmente aumentato fino alla dose di    microgrammi/die (scadenza    ......).</b>
<br />Questo dosaggio si è dimostrato infatti essere quello che, al momento, in assenza di effetti collaterali, ha consentito di ottenere un buon rilassamento muscolare. Il rilassamento è attualmente evidente sia agli arti inferiori che superiori.Il tono si è ridotto anche a livello del tronco con parallela diminuzione degli spasmi in iperestensione ed  in torsione. 
<br />
<b>Per il trattamento dell’eventuale sintomatologia dolorosa residua nel prossimo periodo si consiglia.</b>
<br />
<br />
<b>Rivedremo la/il paziente a controllo fra circa ................     presso il DH di Medicina Riabilitativa Infantile dell’Ospedale Bellaria Via Altura 3 Bologna con richiesta del medico curante di “Valutazione funzionale successiva delle disabilità neuromotorie infantili”.</b>
<br />
<b>In questa occasione verrà effettuato il controllo clinico e l’eventuale ricarica e incremento della posologia del farmaco.</b>
<br /><br />Si allega alla presente il protocollo fisioterapico per il prossimo periodo. 
<br /><br />A disposizione per ogni ulteriore chiarimento si porgono cordiali saluti.