Durante la breve degenza in DH è stata somministrata per via intramuscolare, in sedazione Tossina Botulinica tipo A (Dysport/Botox).
<br /><br />Sono stati trattati i seguenti distretti muscolari con le dosi:
<br /><br />
<div>
	<table cellspacing='4' cellpadding='4' border='1' summary='interventi'>
		<tbody>
			<tr>
				<td>
					<b>
						SEDE
						<br />
					</b>
				</td>
				<td>
					<b>
						DOSE
						<br />
					</b>
				</td>
			</tr>
			<tr>
				<td>
					@TIPO1@
					<br />
				</td>
				<td>
					&nbsp;
					<br />
				</td>
			</tr>
			<tr>
				<td>
					@TIPO2@
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO3@
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO4@
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO5@
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div> 
<br /><br /><b>Rivedremo il paziente a controllo in data __________ alle ore ___________  presso il day-hospital medico di Riabilitazione Infantile, Ospedale Bellaria Via Altura 3 Bologna con impegnativa del Medico Curante di Valutazione funzionale complessa delle disabilit&agrave; neuromotorie infantili e valutazione funzionale globale 
presso Corte Roncati Via S.Isaia 90 Bologna con impegnativa del Medico Curante di Valutazione funzionale complessa  delle disabilità neuromotorie infantili e valutazione funzionale globale.
</b>
<br />
<br />E' stato consegnato il protocollo fisioterapico per il prossimo periodo.
<br />
<br />A disposizione per ogni ulteriore chiarimento si porgono cordiali saluti.
<br />
 