Durante il ricovero &egrave; stato effettuato un intervento di chirurgia funzionale a carico dei distretti muscolari di seguito specificati:
<h3>
	Interventi
</h3>
<div>
	<table cellspacing='4' cellpadding='4' border='1' summary='interventi'>
		<tbody>
			<tr>
				<td>
					<b>
						Tipo di intervento
						<br />
					</b>
				</td>
				<td>
					<b>
						Lato sinistro
						<br />
					</b>
				</td>
				<td>
					<b>
						Lato destro
						<br />
					</b>
				</td>
			</tr>
			<tr>
				<td>
					@TIPO1@
					<br />
				</td>
				<td>
					&nbsp;
					<br />
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO2@
				</td>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO3@
				</td>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO4@
				</td>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					@TIPO5@
				</td>
				<td>
					&nbsp;
				</td>
				<td>
					&nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br />Sono stati applicati stivaletti gessati che andranno portati per i prossimi  28 giorni circa.
<br /><br />Sono state applicate ginocchiere di contenzione in tela armata allo scopo di bloccare in estensione l'articolazione del ginocchio. Tale ortesi andranno 
utilizzate per 3 settimane circa per 24 ore al giorno (sia di giorno che di notte). 
<br /><br />Le ferite chirurgiche sono state suturate con punti riassorbibili che non vanno pertanto rimossi.
<br /><br />Si raccomanda in particolare di verificare che il colore e la temperatura della cute delle dita dei piedi siano regolari (rosee e calde). 
<br /><br /><b>Il paziente dovr&agrave; presentarsi in data __________   alle ore __________ per la rimozione del gesso/ginocchiere  previa accordi telefonici di conferma con la nostra segreteria 
presso il day-hospital medico di Riabilitazione Infantile, Ospedale Bellaria Via Altura 3 Bologna con impegnativa del Medico Curante di Valutazione funzionale complessa delle disabilità neuromotorie infantili e valutazione funzionale globale 
presso Corte Roncati Via S.Isaia 90 Bologna con impegnativa del Medico Curante di Valutazione funzionale complessa  delle disabilità neuromotorie infantili e valutazione funzionale globale.
</b>
<br />
<br />Si allega alla presente protocollo fisioterapico per il prossimo periodo.
<br />
<br />A disposizione per ogni ulteriore chiarimento si porgono cordiali saluti.
<br />
 