Durante il breve ricovero è stato effettuato:
<h3>
	Interventi
</h3>
<div>
	<table cellspacing='4' cellpadding='4' border='1' summary='interventi'>
		<tbody>
			<tr>
				<td>
					<b>
						Tipo di intervento
						<br />
					</b>
				</td>
				<td rowspan='4'  style='text-align: left; vertical-align: middle;'>
					<b>
						BOLO 0,05 mg/1 ml DI BACLOFEN INTRATECALE L2-3
					</b>
				</td>
			</tr>
			<tr>
				<td>
					@TIPO1@
					<br />
				</td>
			</tr>
			<tr>
				<td>
					@TIPO2@
				</td>
			</tr>
			<tr>
				<td>
					@TIPO3@
				</td>
			</tr>
		</tbody>
	</table>
</div>
<br />Dopo la puntura lombare non si sono presentati effetti collaterali legati al farmaco. La spasticità valutata prima e dopo 4-6 ore dal test ha evidenziato. 
<br />
<br />A disposizione per ogni ulteriore chiarimento si porgono cordiali saluti.

 