([ [ [	 @FUN_GET_USER_INFO(param=id)@] == [] ] ?? [
<div data-example-id="alerts-with-links" class="novita">

<img style="width:90%; max-width:600px; display:block; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:20px;" src="@CONTEXT@/app/Template/metaAmbiente/img/logo_unico.png" alt="logo antoniano insieme" />

<div role="alert" class="alert alert-danger"><h2>Anagrafica utenti</h2>Compila velocemente la catella da Pc o da tablet. Detta le parti descrittive con riconoscitore vocale Dragon o Google.</div>

<div role="alert" class="alert alert-warning"><h2>Documenti</h2>I documenti degli utenti possono essere caricati direttamente dal cellulare o dal tablet.</div>

<div role="alert" class="alert alert-success"><h2>Progetti personalizzati ICF</h2>Attivazioni, accoglienza e inserimenti lavorativi possono essere monitorati con qualificatori ICF.</div>
</div>
]])