([ [ [	 @FUN_GET_USER_INFO(param=id)@] == [] ] ?? [
<div data-example-id="alerts-with-links" class="novita">

<img style="max-width:200px; display:block; margin-left:auto; margin-right:auto; margin-top:30px; margin-bottom:20px;" src="@CONTEXT@/app/Template/metaAmbiente/img/logo.png" alt="logo antoniano insieme" />

<div role="alert" class="alert alert-success"><h2>Anagrafica pazienti</h2>Compila velocemente la catella clinica dal Pc o dal tablet. Detta le parti descrittive con riconoscitore vocale Dragon o Google.</div>

<div role="alert" class="alert alert-warning"><h2>Allegati</h2>Fotografie e video dei bambini possono essere caricati direttamente dal cellulare o dal tablet.</div>

<div role="alert" class="alert alert-info"><h2>Progetti personalizzati</h2>Gestisci i progetti personalizzati .. e verifica il raggiungimento degli obiettivi.</div>
</div>
]])