
<div class="row">
<br />


<div class="panel-group" id="accordion">


 <div class="panel panel-primary">
  <div class="panel-heading">
   <h4 class="panel-title">
   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pannello-1">In ambulatorio</a>
   </h4>
  </div>
  <div id="pannello-1" class="panel-collapse collapse in">
  <div class="panel-body">


  <div class="col-lg-4  col-md-4 col-sm-6 home-box">
<div class="panel panel-warning">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Bacheca messaggi</h3>
      </div>
      <div class="panel-body">
		@FUN_MODULE(q=object/list,p=_system_news,t=Bacheca,order-by=creation_date desc,t=Home_bacheca)@
      </div>
</div>
</div>


<div class="col-lg-4 col-md-4 col-sm-6 home-box">
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Nuovo paziente</h3>
      </div>
      <div class="panel-body">      
						Registra un nuovo paziente: 
      		<div class="inserto">
					<div role="toolbar">
			
						<a class="btn btn-default btn-xs btn-success" href="?q=anagrafica/insert/FORM=GLO_Paziente/cls=GLO_Paziente" title="Registra un nuovo paziente">
							<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
						</a>
						
					</div>
				</div>
			</div>
</div>
</div>


<div class="col-lg-4 col-md-4 col-sm-6  home-box">
<div class="panel panel-warning">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Cerca cartelle</h3>
      </div>
      <div class="panel-body">
		@FUN_MODULE(q=object/filter,p=UOC_Accesso,t=Home_cartelle_quick_search)@
	</div>
</div>
</div>


<div class="col-lg-4 col-md-4 col-sm-6  home-box">
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Carica allegato per..</h3>
      </div>
      <div class="panel-body">
		@FUN_MODULE(q=object/filter,p=GLO_Paziente,t=Home_GLO_Paziente_4attachment)@
	</div>
</div>
</div>




<div class="col-lg-4 col-md-4 col-sm-6  home-box">
<div class="panel panel-warning">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Le miei ultime cartelle</h3>
      </div>
      <div class="panel-body">
		@FUN_MODULE(q=object/list,p=UOC_Accesso/_a_creation_user/_v_@FUN_GET_USER_INFO(param=username)@,order-by=last_modification_date desc,t=Home_mie_ultime_cartelle)@</div>		
      </div>
</div>
</div>


<div class="col-lg-4 col-md-4 col-sm-6  home-box">
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Referta una mia visita</h3>
      </div>
      <div class="panel-body">
		@FUN_MODULE(q=object/list,p=UOC_Visita/_a_creation_user/_v_@FUN_GET_USER_INFO(param=username)@,order-by=data desc,t=Home_mie_ultime_visite)@		
      </div>
</div>
</div>



</div>
</div>
</div>

  

 <div class="panel panel-primary">
  <div class="panel-heading">
   <h4 class="panel-title">
   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#pannello-2">In segreteria</a>
   </h4>
  </div>
  <div id="pannello-2" class="panel-collapse collapse in">
  <div class="panel-body">
  
  
  

<div class="col-lg-12 col-md-12 col-sm-12 home-box">
	<div class="panel panel-danger">
	      <div class="panel-heading">
	        <h3 id="panel-title" class="panel-title">Statistiche</h3>
	      </div>
	      <div class="panel-body">			
			Questa pagine contiene delle statistiche basate su distribuzioni di dati generate automaticamente specificando i parametri che si desidera monitorare.
			<br /><br />

			A titolo di esempio, scegliendo la scheda "Visite" e specificando il parametro "tipologia", il sistema genera - tramite grafici a barre o torte - le frequenze dei possibili valori (psicologica, logopedica etc.).
			<br /><br />
			E' possibile specificare più parametri contemporaneamente, ed il periodo relativo al quale generare le frequenze (le date sono riferite alla creazione delle schede della cartella).
			<br /><br />
			
			<div aria-label="Justified button group" role="group" class="btn-group btn-group-justified"> 
				<a role="button" class="btn btn-default" href="?q=stat/distribution/CLS=GLO_Paziente">Pazienti</a> 
				<a role="button" class="btn btn-default" href="?q=stat/distribution/CLS=UOC_Accesso">Accessi</a>
				<a role="button" class="btn btn-default" href="?q=stat/distribution/CLS=UOC_Visita">Visite</a>
				<a role="button" class="btn btn-default" href="?q=stat/distribution/CLS=UOC_Diagnosi">Diagnosi</a>
				<a role="button" class="btn btn-default" href="?q=stat/distribution/CLS=UOC_Percorso">Percorsi</a>
			</div>
		</div>
	</div>
</div>   

                                                         

</div>
</div>
</div>
 
</div>
</div>
	

