@BEGIN_TEMPLATE@
<div class="col-lg-12 col-md-12">
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">Ultimi 10 Eventi</h3>
      </div>
      <div class="panel-body">


			<div id="list-e">
			
			<div class="inserto">
					<div role="toolbar">
	
						<a class="btn btn-default btn-xs btn-success" href="?q=@MODULE@/detail_edit&amp;p=Evento&amp;a=_a_utente/_c_Utente/_a_ID/_v_@FUN_GET_URL_PARAM(param=utente)@" title="registra un nuovo evento">
							<span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
						</a>
								
					</div>
			</div>
			

				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						Si &egrave; verificato un errore: @ERROR_MESSAGE@
					</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						Nessun elemento trovato.
					</div>
				@BLOCK_END_RESULT_EMPTY@

				([
						[[@tag_Evento.ID#FLAT@] != []]
						?? [
	<div class="table-responsive">
			 <table class="table">
			    <thead>
			       <tr>
									
									<th style="width:8%">data</th>
									<th style="width:8%">tipo</th>
									<th style="width:57%">testo</th>
									<th style="width:8%">registrato da</th>
									<th style="width:10%">allegati</th>
								<th scope="col">&nbsp;</th>
								</tr>
								 </thead>
			    					<tbody>
								@BEGIN_Evento@([
										[[@XPATH_FUN((count(preceding-sibling::Evento)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="info">	
										] :: [
											<tr>
										]
									])
	
										@tag_data@@tag_tipo_nota@@tag_testo@@tag_registrato_da@
										<td>@FUN_MODULE(q=object/list,p=Allegato/_a_ref_class/_v_Evento/_a_ref_instance/_v_@tag_ID#FLAT@,t=Allegato_inpage)@</td>
											<td>
											<div role="toolbar">
												<a class="btn btn-default btn-xs btn-info" href="?q=@MODULE@/detail&amp;p=Evento/_a_ID/_v_@tag_ID#FLAT@" title="Dettaglio">
													<span aria-hidden="true" class="glyphicon glyphicon-play"></span>
												</a>
												([
													[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
													
													?? [
														<span class="NoVisibility">|</span>
																		<a class="btn btn-default btn-xs btn-warning" href="?q=@MODULE@/detail_edit&amp;p=Evento/_a_ID/_v_@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																			<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
																		</a>
														<span class="NoVisibility">|</span>
																		<a class="btn btn-default btn-xs btn-success" href="?q=object/detail_edit&amp;p=Allegato&amp;a=_a_di_utente/_c_Utente/_a_ID/_v_@tag_utente.Utente.ID#FLAT@/_a_ref_instance/_v_@tag_ID#FLAT@/_a_ref_class/_v_Evento" title="registra un nuovo allegato">
																			<span aria-hidden="true" class="glyphicon glyphicon-pushpin"></span>
																		</a>
													]
												])
												
											</div>
											</td>
									</tr>@END_Evento@
								</tbody>
					  		</table>
						]
					])
		  		 
		  		</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
					  <ul class="pager">
 
						<li><span class="list-res-summary">Numero eventi: @NUMERO_ELEMENTI@ - <a href="?q=object/list&amp;p=Evento/_a_utente/_c_Utente/_a_ID/_v_@tag_Evento.utente.Utente.ID#FLAT@&amp;list_page_dimension=1000">tutti gli eventi</a></span></li>

					  </ul>
				</div>
			</nav>
		</div>
		</div>  		
		  	</div>
		</div>@END_TEMPLATE@