@BEGIN_TEMPLATE@
<div>
<div id="list">


				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						Si &egrave; verificato un errore: @ERROR_MESSAGE@
					</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
					<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						Nessun elemento trovato.
					</div>
				@BLOCK_END_RESULT_EMPTY@

				([
						[[@tag_UOC_Accesso.ID#FLAT@] != []]
						?? [
	<div class="table-responsive">
			 <table class="table">
			    <thead>
			       <tr>
									@BLOCK_BEGIN_HEADER@
										<th>
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a title="ordina in base a questo attributo" href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">Azioni</th>
								</tr>
								 </thead>
			    					<tbody>
								@BEGIN_UOC_Accesso@([
										[[@XPATH_FUN((count(preceding-sibling::UOC_Accesso)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="info">	
										] :: [
											<tr>
										]
									])
	
										@tag_uoc_paziente_glo@@tag_numero_cartella@@tag_uoc_data_ingresso@@tag_dataChiusura@
											<td>
											<div role="toolbar">
												<a class="btn btn-default btn-xs btn-info" href="?q=@MODULE@/detail&amp;p=UOC_Accesso/_a_ID/_v_@tag_ID#FLAT@" title="Dettaglio">
													<span aria-hidden="true" class="glyphicon glyphicon-play"></span>
												</a>
												([
													[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
													
													?? [
														<span class="NoVisibility">|</span>
														([
															[[] != [1]]
															?? [
																([ 
																	[[] == [complex_detail_edit]] 
																	?? [
																		<a class="btn btn-default btn-xs btn-warning" href="?q=@MODULE@/complex_detail_edit/CLS=UOC_Accesso/ID=@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																			<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>	
																		</a>
																	] :: [
																		<a class="btn btn-default btn-xs btn-warning" href="?q=@MODULE@/detail_edit&amp;p=UOC_Accesso/_a_ID/_v_@tag_ID#FLAT@" title="Modifica i dati dell'oggetto">
																			<span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
																		</a>
																	]
																])
															]
														])
													]
												])
												
											</div>
											</td>
									</tr>@END_UOC_Accesso@
								</tbody>
					  		</table>
						]
					])


 </div>
		</div>@END_TEMPLATE@