@BEGIN_TEMPLATE@<div>
			<div id="list">
			<h3>@TITLE@</h3>

				@BLOCK_BEGIN_RESULT_ERROR@
					<div class="system-message-error">
						Si &egrave; verificato un errore: @ERROR_MESSAGE@
					</div>
				@BLOCK_END_RESULT_ERROR@

				@BLOCK_BEGIN_RESULT_EMPTY@
						Nessun elemento trovato!
				@BLOCK_END_RESULT_EMPTY@

				([
						[[@tag_UOC_Lista_Attesa.ID#FLAT@] != []]
						?? [
						
						
						
							<table width="100%" summary="tabella risultati" border="0" cellspacing="0" cellpadding="0" class="sortable" id="risultati">
								<tr>
									<th scope="col">Paziente</th>
									@BLOCK_BEGIN_HEADER@
										<th scope="col">
											([
												[[@HEADER_HREF@] != []]
												?? [
													<a href="@HEADER_HREF@" @ajaxable="target=list,replace=true,target_result=list" ;>
												]
											])
											@HEADER_LABEL@
											([
												[[@HEADER_HREF@] != []]
												?? [
													</a>
												]
											])
										</th>
									@BLOCK_END_HEADER@
									<th scope="col">Stato Percorso</th>
									<th scope="col">Proposta</th>
									<th scope="col">Azioni</th>
								</tr>
	
								@BEGIN_UOC_Lista_Attesa@([
										[[@XPATH_FUN((count(preceding-sibling::UOC_Lista_Attesa)+ 1) mod 2)@@] == [0.0] ]
										?? [
											<tr class="lista_linea_pari">
										] :: [
											<tr class="lista_linea_dispari">
										]
									])
	
										<td class="per_percorso"><a href="?q=object/detail&amp;p=UOC_Percorso/_a_ID/_v_@tag_per_percorso.UOC_Percorso.ID#FLAT@" title="vai al percorso">
											@tag_per_percorso.UOC_Percorso.uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.glo_cognome#FLAT@
											@tag_per_percorso.UOC_Percorso.uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.glo_nome#FLAT@
											</a>
										</td>
										
										<td>@tag_data_richiesta#FLAT@</td>
										@tag_tipo_prenotazione@
										
										@tag_priorita@@tag_data_appuntamento@
										
										
								
										
											<td>
												<a class="link_map" href="?q=@MODULE@/detail&amp;p=UOC_Lista_Attesa/_a_ID/_v_@tag_ID#FLAT@" title="Vai alla richiesta"><img alt="Vai alla richiesta" src="app/Template/metaAmbiente/img/icon-forth.gif" /></a>
												([
												[[@FUN_CHECK_INSTANCE_AUTH(CLS=@CLASS@,ID=@tag_ID#FLAT@,LEVEL=2,CREATION_USER=@tag_creation_user#FLAT@)@] == [true]]
												?? [
																	
													<span class="NoVisibility">|</span>
																	<a class="link_map" href="?q=@MODULE@/detail_edit&amp;p=UOC_Lista_Attesa/_a_ID/_v_@tag_ID#FLAT@" title="Modifica la richiesta">
																		<img alt="Modifica la richiesta" src="app/Template/metaAmbiente/img/icon-edit.gif" />
																	</a>
																	
													<span class="NoVisibility">|</span>				
													([[[@tag_data_appuntamento#FLAT@]==[]] ?? [
														<a class="link_map" @popup="dimensions=medium,allow_deletion=false" href="?q=@MODULE@/detail_edit&amp;p=UOC_Lista_Attesa/_a_ID/_v_@tag_ID#FLAT@&amp;t=UOC_Lista_Attesa_Assegna" title="Assegna data e ora appuntamento">
															<img alt="Assegna data e ora visita"  src="app/Template/metaAmbiente/img/icon-waitinglist-assign-visit.png" />
														</a>
													]])
													
												]
												])
												
											</td>
									</tr>@END_UOC_Lista_Attesa@
					  		</table>
						]
					])

		  		

		  		

		  		<div class="pagine">
					<ul>
						@BLOCK_BEGIN_INDIETRO@
							<li>
								<a class="linkfirst" href="@HREF_LIST_FIRST@" title="Vai alla prima pagina"><img src="app/Template/metaAmbiente/img/page-first.gif" alt="Vai alla prima pagina" /></a>
							</li>
							<li>
								<a class="linkprev" href="@HREF_LIST_BACK@" title="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)"><img src="app/Template/metaAmbiente/img/page-rw.gif" alt="Vai alla pagina precedente (@PAGINA_PRECEDENTE@)" /></a>
							</li>
						@BLOCK_END_INDIETRO@

						<li><strong>@NUMERO_ELEMENTI@ elementi</strong> trovati - pagina @PAGINA_CORRENTE@</li>

						@BLOCK_BEGIN_AVANTI@
							<li>
								<a class="linknext" href="@HREF_LIST@"  title="Vai alla pagina successiva (@PAGINA_SUCCESSIVA@)"><img src="app/Template/metaAmbiente/img/page-fw.gif" alt="Vai alla pagina successiva (@PAGINA_PRECEDENTE@)" /></a>
							</li>
							<li>
								<a class="linkfirst" href="@HREF_LIST_LAST@" title="Vai all'ultima pagina"><img src="app/Template/metaAmbiente/img/page-last.gif" alt="Vai all'ultima pagina" /></a>
							</li>
						@BLOCK_END_AVANTI@
					</ul>
				</div>
			</div>
		</div>@END_TEMPLATE@