@BEGIN_TEMPLATE@<script
	src="app/Javascript/anastasis/FormSender.js?s=@SERENA_VERSION@&amp;a=@APP_VERSION@"
	type="text/javascript"></script>
<script
	src="app/Javascript/anastasis/serena/DetailEdit.js?s=@SERENA_VERSION@&amp;a=@APP_VERSION@"
	type="text/javascript"></script>
<script type="text/javascript">
	detailEdit = new Anastasis.DetailEdit('detail-edit',
			'Attachment?q=prepare', 'Attachment?q=status&amp;id=');
</script>

<div class="detail-edit detail-edit-Utente">
	<div id="splash">
		<h2>@TITLE@</h2>

		
	</div>

	@BLOCK_BEGIN_RESULT_ERROR@
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Si &egrave; verificato un errore: @ERROR_MESSAGE@
	</div>
	@BLOCK_END_RESULT_ERROR@ @BLOCK_BEGIN_RESULT_EMPTY@
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Nessun elemento trovato.
	</div>
	@BLOCK_END_RESULT_EMPTY@ @BEGIN_Utente@<div class="form-container form-container-Utente">
		<form id="detail-edit" method="post" action="@ACTION@">
			<fieldset>
				<legend>Inserire/modificare i dati</legend>
				<div class="inserto">
					<div role="toolbar">
						<a class="btn btn-default btn-xs btn-info" href="@BACK@" onclick="return confirm_exit();" 
							title="indietro"> <span aria-hidden="true"
							class="glyphicon glyphicon-backward"></span>
						</a> <a class="btn btn-default btn-xs btn-success"
							href="javascript:detailEdit.saveObject();"
							title="Salva modifiche"> <span aria-hidden="true"
							class="glyphicon glyphicon-ok"></span>
						</a> ([ [ [@tag_ID#FLAT@] != [] && [] != [1]] ??
						[ <a class="btn btn-default btn-xs btn-danger"
							href="javascript:detailEdit.delObject('forced_post_save');"
							title="Cancella la scheda"> <span aria-hidden="true"
							class="glyphicon glyphicon-remove"></span>
						</a> ] ])
					</div>
				</div>

				
				<div class="detail-body">@tag_sez_anagrafica@@tag_scheda@@tag_nome@@tag_cognome@@tag_op_primo_colloquio@@tag_data_primo_colloquio@@tag_data_n@@tag_data_arrivo_it@@tag_data_arrivo_bo@@tag_stato_n@@tag_comune_n@@tag_cf@@tag_sesso@@tag_espulso@@tag_deceduto@@tag_sez_residenza@@tag_privo_residenza@@tag_residenza_comune@@tag_residenza_cap@@tag_residenza_via@@tag_residenza_provincia@@tag_sez_situazione_famigliare@@tag_stato_civile@@tag_stato_famiglia@@tag_comune_famiglia@@tag_figli@
				
				@tag_sez_situazione_scolastica_ed_economica@@tag_titolo_studio@@tag_situazione_economica@@tag_altro@@tag_automunito@@tag_percentuale_inv@@tag_madrelingua@@tag_lingua_it@@tag_altre_lingue@
			
				@tag_sez_domicilio@@tag_domicilio_comune@@tag_domicilio_cap@@tag_domicilio_via@@tag_domicilio_provincia@@tag_nota_domicilio@
				
				
				
				@tag_sez_situazione_scolastica_ed_economica@@tag_titolo_studio@@tag_situazione_economica@@tag_altro@@tag_automunito@@tag_percentuale_inv@@tag_madrelingua@@tag_lingua_it@@tag_altre_lingue@@tag_progetti_richiedenti_asilo@@tag_progetti_richiedenti_asilo_dove@
			
				@tag_residenze_in_alloggio@@tag_tessere@@tag_competenze@@tag_servizi_di_riferimento@@tag_eventi@@tag_contatti@@tag_documenti@@tag_cittadinanza@@tag_presa_in_carico_accoglienza@@tag_presa_in_carico_attivazioni@@tag_presa_in_carico_inserimenti_lavorativi@</div>
				

				
				<div class="detail-edit-system">
					
					
				</div>
				

				<input type="hidden" name="class" value="@CLASS@" /> <input
					type="hidden" name="r" value="@REDIRECT@" /> <input type="hidden"
					name="forced_post_save" id="forced_post_save" value="@POST_SAVE@" />

				<div class="inserto">
					<div role="toolbar">
						<a class="btn btn-default btn-xs btn-info" href="@BACK@"
							title="indietro"> <span aria-hidden="true"
							class="glyphicon glyphicon-backward"></span>
						</a> <a class="btn btn-default btn-xs btn-success"
							href="javascript:detailEdit.saveObject();"
							title="Salva modifiche"> <span aria-hidden="true"
							class="glyphicon glyphicon-ok"></span>
						</a> ([ [ [@tag_ID#FLAT@] != [] && [] != [1]] ??
						[ <a class="btn btn-default btn-xs btn-danger"
							href="javascript:detailEdit.delObject('forced_post_save');"
							title="Cancella la scheda"> <span aria-hidden="true"
							class="glyphicon glyphicon-remove"></span>
						</a> ] ])
					</div>
				</div>
			</fieldset>
		</form>
		<div class="detail-attachments">@tag_foto@</div>@END_Utente@
	</div>@END_TEMPLATE@