@BEGIN_TEMPLATE@
<script type="text/javascript" >

$(document).ready(function() {
  	$("#file_real_attachment").change(function() {
		$("#INP_descrizione_breve").val($("#title_real_attachment").val() + ' ' +$("#INP_descrizione_breve").val());
  	});
  	
  	  	$("#title_real_attachment").change(function() {
		$("#INP_descrizione_breve").val($("#title_real_attachment").val() + ' ' +$("#INP_descrizione_breve").val());
  	});
});
</script>

<div id="popup-detail-edit-window">
			@BEGIN_UOC_Allegato@<div class="detail-edit">
		
						@BLOCK_BEGIN_RESULT_ERROR@
							<div class="system-message-error">
								Si &egrave; verificato un errore: @ERROR_MESSAGE@
							</div>
						@BLOCK_END_RESULT_ERROR@
		
						@BLOCK_BEGIN_RESULT_EMPTY@
							<div class="system-message-error">
								Nessun elemento trovato!
							</div>
						@BLOCK_END_RESULT_EMPTY@
		
		
						<div class="form-container">
							<form id="popup-detail-edit" method="post" action="@ACTION@" @ajaxable="target=popup-detail-edit-window">
								<fieldset>
									<legend>Inserire/modificare i dati</legend>
	
									
									<div class="detail-body">
										@tag_titolo@
										@tag_data@
										@tag_supporto@
									<!-- 	@tag_descrizione_breve@   -->
		([[
	 		[@tag_metadati#FLAT@] != []] ?? [@tag_metadati@] :: 
	 	[     	
     	<div id="DIV_INP_metadati" class="detail-component text INP_metadati">
 		<label for="INP_metadati">metadati per indicizzazione</label>
 		<textarea id="INP_metadati" name="INP_metadati" onchange="detailEdit.check(this);" tabindex="10">
 			([[
	 			[@FUN_GET_URL_PARAM(param=cartella)@] != []] ?? [ 
 					@FUN_METADATA(action=get,class=cartella,instance=@FUN_GET_URL_PARAM(param=cartella)@)@
 			]])
 			([[
	 			[@FUN_GET_URL_PARAM(param=percorso)@] != []] ?? [ 
 					@FUN_METADATA(action=get,class=percorso,instance=@FUN_GET_URL_PARAM(param=percorso)@)@
 			]])
 		</textarea>
 			<input type="hidden" value="10" id="type_INP_metadati">
 			<input type="hidden" value="true" id="required_INP_metadati">
 			<input type="hidden" value="metadati" id="label_INP_metadati">
 			<div class="object-help">queste parole chiave verranno usate per indicizzare, e conseguentemente ricercare, l'allegato: si tratta di una proposta del sistema che puoi ovviamente modificare/integrare</div>
		</div>
			]
 		])
									</div>
									
									<input type="hidden" name="INP_descrizione_breve" id="INP_descrizione_breve"  />
									<input type="hidden" name="class" value="@CLASS@" />
									<input type="hidden" name="r" value="@REDIRECT@" />
									<input type="hidden" name="forced_post_save" id="popup_forced_post_save" value="@POST_SAVE@" />
									
									<input type="hidden" id="allow_instance_deletion" value="true" />
								</fieldset>
							</form>
		
							<h4>Apri per caricare il file:</h4>
							<div class="detail-attachments">
								@tag_real_attachment@@tag_real_attachment_1@@tag_real_attachment_2@@tag_real_attachment_3@
							</div>
		
						</div>
					</div>@END_UOC_Allegato@
		</div>@END_TEMPLATE@