@BEGIN_TEMPLATE@
<script type="text/javascript">
$(document).ready(function(){
	if ($("#INP_refertazione").val())	{
		$("#oscuramento").hide();
	} else {
		$("#oscuramento").show();
	}  
});

</script>

<div id="popup-detail-edit-window">
	@BEGIN_UOC_Visita@
	<div class="detail-edit">
		<div id="splash">
			<h2>Refertazione veloce visita</h2>
		</div>


		<div class="form-container form-container-UOC_Visita">
			<form id="popup-detail-edit" method="post" action="@ACTION@"
				@ajaxable="target=popup-detail-edit-window">
				<fieldset>
					<legend>Inserire refertazione</legend>


					<div class="detail-body">
						<!--  @tag_refertazione@ -->
						<div class="detail-component text INP_refertazione"
							id="DIV_INP_refertazione">
							<label for="INP_refertazione">refertazione *</label>
							<textarea tabindex="10" 
								onchange="detailEdit.check(this);" name="INP_refertazione"
								id="INP_refertazione">@tag_refertazione#FLAT@</textarea>
							<input id="type_INP_refertazione" value="10" type="hidden">
							<input id="required_INP_refertazione" value="true" type="hidden">
							<input id="label_INP_refertazione" value="refertazione"
								type="hidden">
							<div class="object-help"></div>
						</div>
					</div>

					<div id="oscuramento">					
						<!-- oscuramento solo PRIMA REGISTRAZIONE -->
						@tag_oscuramento@
					
						@tag_oscuramentoDossier@
					</div>

					<input type="hidden" id="allow_instance_deletion" value="false" />
					<input type="hidden" name="class" value="@CLASS@" /> <input
						type="hidden" name="r" value="@REDIRECT@" /> <input type="hidden"
						name="forced_post_save" id="popup_forced_post_save"
						value="@POST_SAVE@" />
				</fieldset>
			</form>

		</div>
	</div>
	@END_UOC_Visita@
</div>
@END_TEMPLATE@
