@BEGIN_TEMPLATE@<div class="filter">
			
			<div class="form-container">
				
				<form id="filter" method="post" action="@ACTION@&amp;t=GLO_Paziente_4attachment">
						@BEGIN_GLO_Paziente@@tag_cognome@@tag_nome@@END_GLO_Paziente@
						<br class="clearBoth" />
						<input type="hidden" name="fetch_from" value="@FETCH_FROM_VALUE@" />
						<input type="hidden" name="fetch_to" value="@FETCH_TO_VALUE@" />
						
						<p class="serena-button-p">
							<input name="post_search" title="avvia la ricerca" value="Cerca" class="btn btn-info" type="submit" />
						</p>
				</form>
			</div>
		</div>@END_TEMPLATE@