@BEGIN_TEMPLATE@

@BEGIN_UOC_Diario_Clinico@
    
    
<div id="detail" class="tabbed">

    <div class="inserto">
  		<ul id="toolbar" class="clearfix">  		
        <li><a href="javascript:history.back();" title="indietro"><img alt="indietro" title="indietro" src="@CONTEXT@/app/Template/metaAmbiente/img/icon-back.gif" /></a>
        </li>   
        @BLOCK_BEGIN_EDIT@     
			<li> 
				<a href="@HREF_DETAIL_EDIT@" title="Modifica i dati dell'oggetto"><img alt="modifica la scheda" title="modifica la scheda"  src="@CONTEXT@/app/Template/metaAmbiente/img/icon-edit.gif" /></a>
				<span class="NoVisibility">|</span>
			</li>
        @BLOCK_END_EDIT@
        
      </ul> 
   </div>

	@BLOCK_BEGIN_RESULT_ERROR@
    <div class="system-message-error">
      Si &egrave; verificato un errore: @ERROR_MESSAGE@
    </div>
    @BLOCK_END_RESULT_ERROR@

    @BLOCK_BEGIN_RESULT_EMPTY@
    <div class="system-message-error">
      Nessun elemento trovato!
    </div>
    @BLOCK_END_RESULT_EMPTY@
	
    @FUN_MODULE(q=object_tab_header/detail,p=UOC_Accesso/_a_ID/_v_@tag_inverse_of_diario_clinico.UOC_Accesso.ID#FLAT@)@
<script type="text/javascript">
$(document).ready(function() {
	Anastasis.SerenaUtils.getCurrentTabSheet('UOC_Diario_Clinico');
});
</script>
   


        <div id="object-body">
        
				<div role="toolbar" class="btn-toolbar" style="float:right; margin-right:2px;">
					<a aria-expanded="false" aria-haspopup="true" class="btn btn-success" type="button" href="?q=object/detail_edit&amp;p=UOC_Diario_Clinico&amp;a=_a_inverse_of_diario_clinico/_c_UOC_Accesso/_a_ID/_v_@tag_inverse_of_diario_clinico.UOC_Accesso.ID#FLAT@" title="nuova pagina">nuova pagina</a>
			    </div>
			    <br style="clear:both;" />        
				        
				        
      		<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">      
      			<tbody>
		        @tag_data@@tag_osservazione@
		        </tbody>
        	</table>      
      	</div>
      
	  
      
            
      <div id="object-system">
      <table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">      
      	<tbody>
        @tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
        </tbody>
      </table>          
      </div>@END_UOC_Diario_Clinico@
  </div>@END_TEMPLATE@