@BEGIN_TEMPLATE@

	@BEGIN_UOC_Allegato@
	
<div id="detail" class="tabbed">


					<div class="inserto">
					<div role="toolbar">
						<a class="btn btn-default btn-xs btn-info" href="javascript:history.back();" title="indietro">
							<span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
						</a>
												
						@BLOCK_BEGIN_EDIT@
							<a class="btn btn-default btn-xs btn-warning" href=@HREF_DETAIL_EDIT@" title="Modifica la scheda">
								  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
       						</a>
						@BLOCK_END_EDIT@
					</div>
			</div>	

			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_ERROR@

			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_EMPTY@

		

				@FUN_MODULE(q=object_tab_header/detail,p=UOC_Accesso/_a_ID/_v_@tag_di_cartella.UOC_Accesso.ID#FLAT@)@
						<script type="text/javascript">
						$(document).ready(function() {
							Anastasis.SerenaUtils.getCurrentTabSheet('UOC_Allegato');
						});
						</script>
			

				
				<div id="object-body">
						<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
							<tbody>
								@tag_titolo@@tag_data@@tag_supporto@@tag_descrizione_breve@@tag_metadati@@tag_note@@tag_uoc_emiplegia_timing_lesionale@@tag_uoc_tipo_tetraplegia@@tag_uoc_emiplegia_manipolazione@@tag_uoc_tipo_forme_dispercettive@@tag_uoc_sottotipo@@tag_uoc_tipo_emiplegia@@tag_uoc_emiplegia_cammino@@tag_uoc_tipo_diplegia@@tag_uoc_patologie_associate@@tag_uoc_diagnosi_principale_codice@@tag_paziente@
								
							</tbody>
						</table>
					</div>

			
						<div id="object-body-links">
							<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
								<tbody>
									@tag_attachment@@tag_real_attachment_1@@tag_real_attachment_2@@tag_real_attachment_3@
									<tr class="ref"><th scope="row">contenuto in</th><td>
    <a title="il contenitore dove l'allegato e' stato inserito" href="?q=object/detail&amp;p=@tag_ref_class#FLAT@/_a_ID/_v_@tag_ref_instance#FLAT@">@tag_ref_class#FLAT@</a>
									  </td></tr>
								</tbody>
							</table>
						</div>
					
				
				<div id="object-system" @toggable="label=apri/chiudi attributi di sistema,init_state=closed">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">
						<tbody>
							@tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
						</tbody>
					</table>
				</div>@END_UOC_Allegato@
		</div>@END_TEMPLATE@