@BEGIN_TEMPLATE@


@BEGIN_UOC_Percorso@

@FUN_MODULE(q=current_data/set/MUTE=1/CLS=GLO_Paziente/id=@tag_uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.ID#FLAT@/nome=@tag_uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.nome#FLAT@/cognome=@tag_uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.cognome#FLAT@/data_n=@FUN_REPLACE(string=@tag_uoc_accesso_percorso.UOC_Accesso.uoc_paziente_glo.GLO_Paziente.data_n#FLAT@,search=/,replace=-)@)@    


<div id="detail" class="tabbed">


			<div class="inserto">
				<div role="toolbar">
						
						
						<a class="btn btn-default btn-xs btn-info" href="ModuleIndex?q=birtReport/give/CLS=@CLASS@/ID=@tag_ID#FLAT@/DOC=proposta_percorso/FILE=proposta_percorso/TYPE=pdf" title="Genera versione pdf">
								  <span aria-hidden="true" class="glyphicon glyphicon-print"></span>
       							</a>
						
						@BLOCK_BEGIN_EDIT@
							<a class="btn btn-default btn-xs btn-warning" href=@HREF_DETAIL_EDIT@" title="Modifica la scheda">
								  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
       						</a>
						@BLOCK_END_EDIT@
					</div>
					
				</ul>
			</div>

			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_ERROR@

			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_EMPTY@

			
			
    @FUN_MODULE(q=object_tab_header/detail,p=UOC_Accesso/_a_ID/_v_@tag_uoc_accesso_percorso.UOC_Accesso.ID#FLAT@)@
    
<script type="text/javascript">
$(document).ready(function() {
	Anastasis.SerenaUtils.getCurrentTabSheet('UOC_Percorso');
});
</script>
			
					
									
									
				<div id="object-body">
				
				@BLOCK_BEGIN_EDIT@	
				
				<div role="toolbar" class="btn-toolbar" style="float:right; margin-right:2px;">
				<a aria-expanded="false" aria-haspopup="true" class="btn btn-success" type="button" href="?q=object/detail_edit&amp;p=UOC_Allegato&amp;a=_a_ref_class/_v_UOC_Percorso/_a_ref_instance/_v_@tag_ID#FLAT@/_a_di_cartella/_v_@tag_uoc_accesso_percorso.UOC_Accesso.ID#FLAT@&amp;cartella=@tag_uoc_accesso_percorso.UOC_Accesso.ID#FLAT@&amp;percorso=@tag_ID#FLAT@" title="registra allegato">registra allegato</a>
				<a aria-expanded="false" aria-haspopup="true" class="btn btn-warning" type="button" href="?q=object/detail_edit&amp;p=UOC_Eval_Icf&amp;a=_a_di_percorso/_c_UOC_Percorso/_a_ID/_v_@tag_ID#FLAT@" title="aggiungi obiettivo ICF">obiettivo ICF</a>
			    ([[[@tag_uoc_risultati_ottenuti#FLAT@]==[]] ?? [
				    <a aria-expanded="false" aria-haspopup="true" class="btn btn-success" type="button" href="@HREF_DETAIL_EDIT@&amp;t=UOC_Percorso_relazione" title="Chiudi il percorso con la relazione">relazione</a>
				]])
			    </div>
			    <br style="clear:both;" />
				
				@BLOCK_END_EDIT@
				

				
						<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
							<tbody>
								@tag_tipo_percorso@@tag_uoc_data_inizio@@tag_problemi_clinici@@tag_obiettivo@@tag_uoc_data_fine@@tag_icf@@tag_note@@tag_uoc_risultati_ottenuti@@tag_miglioramento@
								<tr class="firma1">
									<th scope="row">Firme professionisti:</th>
									<td>
										@tag_firma1_percorso.UOC_Operatore.user_name#FLAT@<br />@tag_firma2_percorso.UOC_Operatore.user_name#FLAT@<br />@tag_firma3_percorso.UOC_Operatore.user_name#FLAT@<br />@tag_firma4_percorso.UOC_Operatore.user_name#FLAT@
  									</td>
  								</tr>
							<tr class="allegati">
	        		<th scope="row">allegati</th>
					<td>@FUN_MODULE(q=object/list,p=UOC_Allegato/_a_ref_class/_v_UOC_Percorso/_a_ref_instance/_v_@tag_ID#FLAT@,t=UOC_Allegato_inpage)@</td>
				</tr>	
							</tbody>
						</table>
					</div>
									

				
				<div id="object-system" @toggable="label=apri/chiudi attributi di sistema,init_state=closed">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">
						<tbody>
							@tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
						</tbody>
					</table>
				</div>@END_UOC_Percorso@
</div>@END_TEMPLATE@