@BEGIN_TEMPLATE@
    
@BEGIN_UOC_Diagnosi@


<div id="detail" class="tabbed">


			<div class="inserto">
					<div role="toolbar">
						<a class="btn btn-default btn-xs btn-info" href="javascript:history.back();" title="indietro">
							<span aria-hidden="true" class="glyphicon glyphicon-backward"></span>
						</a>
						
						<a class="btn btn-default btn-xs btn-info" href="ModuleIndex?q=birtReport/give/CLS=@CLASS@/ID=@tag_ID#FLAT@/DOC=diagnosi/FILE=diagnosi/TYPE=pdf" title="Genera versione pdf">
							  <span aria-hidden="true" class="glyphicon glyphicon-print"></span>
      					</a>
												
						@BLOCK_BEGIN_EDIT@
							<a class="btn btn-default btn-xs btn-warning" href=@HREF_DETAIL_EDIT@" title="Modifica la scheda">
								  <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
       						</a>
						@BLOCK_END_EDIT@
					</div>
			</div>	

			@BLOCK_BEGIN_RESULT_ERROR@
				<div class="system-message-error">
					Si &egrave; verificato un errore: @ERROR_MESSAGE@
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_ERROR@

			@BLOCK_BEGIN_RESULT_EMPTY@
				<div class="system-message-error">
					Nessun elemento trovato!
					<br /><br />
      				<a href="javascript:history.back();" title="Indietro">Indietro</a>
				</div>
			@BLOCK_END_RESULT_EMPTY@
			
			
		   @FUN_MODULE(q=object_tab_header/detail,p=UOC_Accesso/_a_ID/_v_@tag_uoc_accesso_diagnosi.UOC_Accesso.ID#FLAT@)@
		<script type="text/javascript">
		$(document).ready(function() {
			Anastasis.SerenaUtils.getCurrentTabSheet('UOC_Diagnosi');
		});
		</script>		



			<div role="toolbar" class="btn-toolbar" style="float:right; margin-right:2px;">
				<a aria-expanded="false" aria-haspopup="true" class="btn btn-success" type="button" href="?q=object/detail_edit&amp;p=UOC_Allegato&amp;a=_a_ref_instance/_v_@tag_ID#FLAT@/_a_ref_class/_v_UOC_Diagnosi/_a_metadati/_v_@tag_uoc_diagnosi_principale_codice#FLAT@/_a_di_cartella/_c_UOC_Accesso/_a_ID/_v_@tag_uoc_accesso_diagnosi.UOC_Accesso.ID#FLAT@" title="registra un allegato">registra allegato</a>
				</a>
			</div>
			<br style="clear:both;" />
			

				
				<div id="object-body">
						<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati scheda">
							<tbody>
								@tag_data@
								@tag_uoc_diagnosi_principale_codice@
								@tag_diagnosi_principale_altro@
								
								@tag_icd10_1@
								@tag_icd10_2@
								@tag_icd10_3@
								
								@tag_note@
								 <tr class="allegati">
	        		<th scope="row">allegati</th>
					<td>@FUN_MODULE(q=object/list,p=UOC_Allegato/_a_ref_class/_v_UOC_Diagnosi/_a_ref_instance/_v_@tag_ID#FLAT@,t=UOC_Allegato_inpage)@</td>
				</tr>	
							</tbody>
						</table>
					</div>

				
				

				
				<div id="object-system" @toggable="label=apri/chiudi attributi di sistema,init_state=closed">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0" summary="tabella dati di sistema">
						<tbody>
							@tag_creation_user@@tag_creation_date@@tag_deletion_user@@tag_deletion_date@@tag_last_modification_user@@tag_last_modification_date@@tag_activation_flag@@tag_deletion_flag@
						</tbody>
					</table>
				</div>@END_UOC_Diagnosi@
		</div>@END_TEMPLATE@