 
<ul class="nav navbar-nav">
   <li class="dropdown cartella-aperta">
   	<a aria-expanded="false" role="button" title="Vai alla cartella" href="?q=object/detail&amp;p=Utente/_a_ID/_v_@FUN_CURRENT_DATA(class=Utente,param=ID)@"><em>Cartella aperta:</em> @FUN_CURRENT_DATA(class=Utente,param=cognome)@ @FUN_CURRENT_DATA(class=Utente,param=nome)@</a>
    </li>
</ul>


	
	@BLOCK_BEGIN_ERROR@
			<div class="system-message-error">Il sistema ha riportato un errore in fase di selezione paziente: contattare assistenza</div>	
	@BLOCK_END_ERROR@
	
	@BLOCK_BEGIN_SELECTION_CLEARED@
		<div class="system-message-success">Fascicolo chiuso correttamente</div>	
	@BLOCK_END_SELECTION_CLEARED@
	